project_name    = "mercantis-move2cloud"
environment     = "dev"
aws_region      = "sa-east-1"
aws_region_edge = "us-east-1"

vpc_cidr = "10.0.0.0/16"

public_subnet_cidrs = [
  "10.0.1.0/24",
  "10.0.2.0/24",
]

private_app_subnet_cidrs = [
  "10.0.11.0/24",
  "10.0.12.0/24",
]

private_db_subnet_cidrs = [
  "10.0.21.0/24",
  "10.0.22.0/24",
]

alb_ingress_cidrs    = ["0.0.0.0/0"]
enable_https_ingress = false
ssh_allowed_cidrs    = []

app_port          = 80
health_check_path = "/"

db_name     = "mercantis"
db_username = "mercantisapp"

# Este arquivo e apenas exemplo. Copie para dev.tfvars e substitua o valor abaixo
# somente no arquivo local, sem enviar a senha real ao GitHub.
db_password = "ALTERE_ESTA_SENHA_FORA_DO_GIT"
db_port     = 3306

db_instance_class          = "db.t4g.micro"
db_allocated_storage       = 20
db_max_allocated_storage   = 50
db_backup_retention_period = 1
db_multi_az                = false
db_skip_final_snapshot     = true
db_deletion_protection     = false

ec2_instance_type      = "t3.micro"
ec2_key_name           = null
ec2_root_volume_size   = 20
repository_url         = "https://github.com/LuizPazdziora/mercantis-move2cloud"
repository_branch      = "main"
allowed_origins        = "*"

common_tags = {
  Project   = "Mercantis Move2Cloud"
  ManagedBy = "Terraform"
}
